.root {
  height: 100vh;
}

.logo {
  float: left;
  color: white;
  font-weight: 500;
  font-size: 1.3em;
  position: relative;
  top: -1px;
  margin-right: 25px;
  margin-left: -20px;
}

.content {
  display: flex;
  flex-direction: column;
}
