.wrapper {
  position: relative;
  z-index: 2;
  perspective: 1000px;
}

.card {
  transition: 0.7s all ease-out;
  transform: rotateX(20deg) rotateY(-5deg) scale(110%);
  box-shadow: rgba(50, 50, 93, 0.25) 20px 23px 27px 10px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 0;
  border-radius: 17px;
}

.card svg {
  display: block;
}

.activeCard {
  transform: rotateX(0deg) rotateY(0deg) scale(100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 1;
}
