.root {
  user-select: none;
  max-width: 500px;
  display: flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 12px;
  top: 0;
}

.info {
  font-size: 0.9em;
  max-width: 500px;
  color: #8B8A8F;
  line-height: 135%;
  margin-top: 12px;
  hyphens: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.recentTransactions {
  background: white;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}

.hasNewerTransactions {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 15px;
  background-color: #E9E8EE;
  border-radius: 10px;
}

.hasNewerTransactions svg {
  width: 30px;
  flex-shrink: 0;
  margin-right: 10px;
}

.hasNewerTransactions p {
  margin: 0;
  line-height: 125%;
}
  