.root {
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
}

.root :global(.ant-card-body) {
  padding-bottom: 0;
}

.root :global(.ant-card-meta-title) {
  margin-top: 2px;
  margin-bottom: -4px !important;
}

.root :global(.ant-card-meta-description) {
  margin-bottom: 14px;
}
