.bar {
  display: table;
  width: 100%;
  cursor: pointer;
  background: white;
  height: 60px;
  z-index: 2;
  box-shadow: 0 -6px 16px -8px rgba(0, 0, 0, 0.08),
    0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
}
.bar:hover {
  background: #f8f9f9;
}

.bar > * {
  display: table-cell;
  padding: 8px;
  vertical-align: middle;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.header :global(.ant-radio-group) {
  margin-top: -5px;
  margin-bottom: -10px;
}
